<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog Portal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Blog Portal</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
         
          <li id="login"><a href="/login">SIGN IN</a></li>
          <li id="register"><a href="/register">REGISTER</a></li>
        
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
<h1  style="text-align: center;"> Login </h1>

<form action="/login" method="POST">
<div>
<label for="email">Email</label>
<input
type="email"
name="email"
placeholder="Enter Email"
/>
</div>
<div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
    />
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</div>

   
</form>

<%- include("partials/footer"); -%>

